.header {
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.questions p {
  text-align: center;
  font-weight: bold;
}

.inputRadio {
  display: inline-block;
  margin-left: 20%;
  width: 30%;
}

.loading {
  display: flex;
  justify-content: center;
}

.error p {
  color: rgb(46 39 120);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.error img {
  width: 50%;
  display: block;
  margin: auto;
}

.error-button {
  background-image: linear-gradient(
    to right,
    #4561df,
    #69369d,
    #4b73ca,
    #7e13d6
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
